name: Archive ScratchBox

on:
  schedule:
    - cron: '30 */5 * * *'  # Runs every six hours or so (Save Page Now has a hard limit of 4 captures per day on each page, so this is the most that can be done)

  workflow_dispatch:

jobs:
  fetch_and_zip:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Fetch files
      run: |
        echo "Important Pages:"
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://status.scratchbox.dev&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://editor.scratchbox.dev&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/api/scratchbox.unistore&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        echo ""
        echo "Explore Pages:"
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/explore&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/explore?p=2&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/explore?p=3&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/explore?p=4&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/explore?p=5&capture_outlinks=1&capture_all=1' https://web.archive.org/save
        echo ""
        echo ""
        echo "Other Pages:"
        echo ""
        curl -X POST -H "Accept: application/json" -H "Authorization: LOW ${{ secrets.myaccesskey }}:${{ secrets.mysecret }}" -d'url=https://scratchbox.grady.link/postauth&capture_outlinks=1&capture_all=1' https://web.archive.org/save
